<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Railways Web App</title>
  </head>
  <body>
    <h3>Welcome to Railways Web App!</h3>

    <br>
    <a href="/stations">Stations</a>
    <br>
    <a href="/trains">Trains</a>
    <br>
    <a href="/routes">Routes</a>
  </body>
</html>
