<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Stations Control Web App</title>
  </head>
  <body>
    <h3>Stations Control Web App</h3>
    <h4>Create new station</h4>
    <form action='station_info' method='post'>
      <div>
        <label for="station_name">Station name:</label>
        <input type="text" id="station_name" name="station_name">
      </div>

      <br>
      <input type="submit" value="submit">
    </form>

    <br>
    <h4>All stations:</h4>
    <ul>
      <% @stations_info.each do |station_info| %>
        <li><%= station_info %></li>
      <% end %>
    </ul>

    <br>
    <a href="/app">Main</a>

  </body>
</html>
